<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="../../public/images/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/pexels-anthony-shkraba-4348401.jpg" width="100%" alt="working hard">
    </div>
    {{>footer}}
</body>

</html>